body{
	background-image: url("https://www.xtrafondos.com/wallpapers/resized/amanecer-anime-chica-silueta-paisaje-3721.jpg?s=large");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;

}

/*index*/

#containerVideos {
	width: 100%;
	height: 1008px;
}
#containerVideos img {
	position: absolute;
}

#containerVideos h1 {
	font-size: 25px;
	color: white;
	margin: 0;
	padding: 0;
	padding-top: 75px;
	padding-left: 75px;
	position: relative;
	bottom: -45px;

}

#containerVideos .videosCont {
	position: relative;
	top: 90px;
	left: 20px;	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.vid {
	padding: 10px;
	padding-bottom: 35px;
}

.vid a {
	text-decoration: none;

}

.vid h2 {
	color: white;
	font-size: 20px;
}

/*index2*/



.container{
    background: silver;
    border-radius: 10px;
    padding: 25px;
    margin-top: 50px;
}

#player {
	width: 100%;
	height: 900px;
	display: flex;
	align-items: center;
	position: relative;
}



.video {
	background:white;
	width: 50%;
	height: 400px;
	margin: 0;
	margin-left: 10%;
	margin-top: 5%;
	padding: 0;
	position: absolute;
	top: 1px;
}

.video h1 {
	font-size: 30px;
}

.videocontainer {
	float: right;
	width: 50%;
	position: absolute;
	top: 50px;
	left: 900px;
}	

.videocontainer p {
	font-size: 20px;
	color: white;

}

.square {
	background: silver;
	width: 40%;
	height: 150px;
	margin-top: 10px;
}

.description {
	width: 640px;
	height: 400px;
	position: relative;
	margin-top: 2%;
	color: white;
	padding: 10px;
}

.description h1 {
	width: 100%;
	color: white;
}

.description .social [class^="icon-"] {
  display: inline-block;
  color: silver;
  text-decoration: none;
  font-size: 30px;
  padding: 15px;
  background: white;
  border-radius: 30%;
  width: 50px;
  height: 50px;
  line-height: 40px;
  
}

.user {
  margin-top: 15px;
  width: 60px;
  height: 60px;
}

.user img {
	border-radius: 50%;
	width: 70px;
	height: 70px;
}

.user p {
	width: 250px;
	font-family: calibri;
	font-size: 20px;
	position: absolute;
	top: 215px;
	left: 90px;
}

.subscribe {
	
}

.subscribe button {
	float: right;
	background: red;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 23px;
	position: absolute;
	left: 450px;
	top: 210px;
}

.descriptionchannel {
	margin: 0 auto;
	width: 80%;
	color: white;
	padding: 15px;
}

@media screen and (max-width: 600px;) {
	
}