body{
	background-image: url("https://www.xtrafondos.com/wallpapers/resized/amanecer-anime-chica-silueta-paisaje-3721.jpg?s=large");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;

}

/*index*/

#containerVideos {
	width: 100%;
	height: 1008px;
}
#containerVideos img {
	position: absolute;
}

#containerVideos h1 {
	font-size: 25px;
	color: white;
	margin: 0;
	padding: 0;
	padding-top: 75px;
	padding-left: 75px;
	position: relative;
	bottom: -45px;

}

#containerVideos .videosCont {
	position: relative;
	top: 90px;
	left: 20px;	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.vid {
	padding: 10px;
	padding-bottom: 35px;
}

.vid a {
	text-decoration: none;

}

.vid h2 {
	color: white;
	font-size: 20px;
}

/*index2*/



.container{
    background: silver;
    border-radius: 10px;
    padding: 25px;
    margin-top: 50px;
}

#player {
	width: 100%;
	height: 900px;
	display: flex;
	position: relative;
}



.video {
	background:white;
	width: 50%;
	height: 400px;
	margin: 0;
	margin-left: 10%;
	margin-top: 5%;
	padding: 0;
	position: absolute;
	top: 1px;
}

.video h1 {
	font-size: 30px;
}

.videocontainer {
	position: absolute;
	top: 50px;
	left: 1000px;
	
}	

.videocontainer p {
	font-size: 20px;
	color: white;
}

.square {
	background: silver;
	width: 250px;
	height: 150px;
	margin-top: 10px;
}

.description {
	width: 100%;
	height: 400px;
	position: absolute;
	margin-top: 2%;
	color: white;
	padding: 10px;
	padding-right: 0;
}

.description h1 {
	width: 100%;
	color: white;
}

.description .social [class^="icon-"] {
  display: inline-block;
  color: silver;
  text-decoration: none;
  font-size: 30px;
  padding: 15px;
  background: white;
  border-radius: 30%;
  width: 50px;
  height: 50px;
  line-height: 40px;
  
}

.channel {
	width: 100%;
	position: absolute;
}

.user {
  margin-top: 15px;
  width: 60px;
  height: 60px;
  
}

.user img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-top: 20px;
}

.user p {
	width: 250px;
	font-family: calibri;
	font-size: 20px;
	position: absolute;
    top: 35px;
	left: 90px;
}

.subscribe {

}

.subscribe button {
	
	background: red;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 23px;
	margin-left: 90px;
}

.descriptionchannel {
	margin: 0 auto;
	width: 80%;
	color: white;
	padding: 15px;
	position: absolute;
	left: 50px;
	top: 300px;
}

@media screen and (max-width: 1200px) {
	.videocontainer {
		position: absolute;
		top: 50px;
		left: 800px;
	}
	
}

@media screen and (max-width: 1000px) {
	.videocontainer {
		position: absolute;
		top: 50px;
		left: 700px;
	}
	
}

@media screen and (max-width: 900px) {
	.videocontainer {
		position: absolute;
		top: 50px;
		left: 600px;
	}
	
}

@media screen and (max-width: 800px) {

	.videocontainer {
		position: absolute;
		top: 50px;
		left: 500px;
	}

	.descriptionchannel {
		position: absolute;
		top: 350px;
	}

}

@media screen and (max-width: 700px) {

	.video {
		width: 80%;
		justify-content: center;
	}

	.videocontainer {
		width: 100%;
		position: absolute;
		top: 950px;
		left: 100px;
	}

    .square {
	background: silver;
	width: 350px;
	height: 200px;
	margin-top: 10px;
	justify-content: center;
	}
}

@media screen and (max-width: 700px) {

	.video {
		width: 75%;
		height: 300px;
		justify-content: center;
	}

	.videocontainer {
		width: 100%;
		position: absolute;
		top: 850px;
		left: 100px;
	}

    .square {
	background: silver;
	width: 200px;
	height: 150px;
	margin-top: 10px;
	justify-content: center;
	}

	.descriptionchannel {
		position: absolute;
		top: 300px;
	}

}	

@media screen and (max-width: 540px) {

	.descriptionchannel {
		margin-top: 30px;
	}


}

@media screen and (max-width: 400px) {

	.user p {
	width: 150px;
	height: 200px;
    }

    .subscribe button {
	margin-top: 25px;
    }

	.descriptionchannel {
		margin-top: 50px;
	}
}

@media screen and (max-width: 388px) {


	.videocontainer {
		width: 100%;
		position: absolute;
		top: 1000px;
		left: 100px;
	}

	.descriptionchannel {
		margin-top: 120px;
	}
}
